/* Message d'erreur 404 */

#robot-img-div {
    background-color: rgb(253, 248, 252);
    padding-top: 50px;
}

#robot-img {
    display: block;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

#div-notfound {
    background-color: rgb(253, 248, 252);
    padding-bottom: 50px;
}

#notfound {
    width: 730px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(185, 34, 51);
    font-size: 2.5em;
}