/* Message d'erreur 404 */

#notfound {
    width: 730px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(185, 34, 51);
    font-size: 2.5em;
}